
body {
    background: linear-gradient(100deg, rgb(0, 100, 5) , rgb(0, 100, 10), rgb(13, 0, 25));
  }

  .heading{
      width: 80%;
      font-size: 22px;
      font-family: '-----------', cursive;
      
  }
  


  .name_object,#result_object_name, #result_object_accuracy{
      color: blue;
  }

  #camera, #result{
      border: 2px dashed black;
      width: 350px;
      height: 300px;
  }

#Mynickname
{
    color: blue;
}